<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-4 footer-grid_section_w3layouts ">
                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">Разделы</h3>
                <ul class="list-unstyled w3layouts-icons">
                    <li>
                        <a href="/" class="editContent">Главная</a>
                    </li>
                    <li>
                        <a href='/pages/about' class="editContent">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid_section_w3layouts">
            </div>
            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">Контакты</h3>
                <div class="contact-info">
                    <div class="footer-address-inf my-4">
                        <h4 class="ad-info mb-2 editContent">Сылка на: </h4>
                        <p class="editContent"><a href="https://gitlab.com/Endronio/django_movies">GitLab</a></p>
                    </div>
                    <div class="footer-address-inf">
                        <h4 class="ad-info mb-2 editContent">Location</h4>
                        <p class="editContent">Grodno</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer>
