{% load movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1><a href="/" class="editContent" >
                    DjangoMovie</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="/">Главная</a></li>
                <li>
                    <label for="drop-2" class="toggle">Категории <span>
                            class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a href="#">Категории <span class="fa fa-angle-down"
                                                aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="/">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a style="color: rgb(49,205,14); font-weight: 700; text-transform: uppercase;">
                        {% if user.is_authenticated %}
                            <span>{{ user.username }} </span>
                            </a>
                            <a href="{% url 'account_logout' %}">
                                Выход
                            </a>
                        {% else %}
                            <a href="{% url 'account_login' %}">
                                Вход
                            </a>
                            <a href="{% url 'account_signup' %}">
                                Регистрация
                            </a>
                        {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>



