/* header */

/* CSS Document */

header {
    position: absolute;
    width: 100%;
    background-color: #00000045;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

#logo a {
    float: left;
    display: initial;
    letter-spacing: 1px;

}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}


nav ul li {
    display: inline-block;
    float: left;
}


.menu li a {
    margin: 0px 1em;
    color: #dd02ff;
    text-transform: uppercase;
}


.menu li ul li a {
    color: #555555;
    padding: 10px 10px;
    font-size: 0.8em;
}


.menu li ul li:hover {
    background: #6577a7 !important;
}


nav .menu li a:hover {
    color: #ff4c4c !important;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 30px;
    background: #fdfffe;

}


nav ul li:hover > ul {
    display: inherit;
}

/* Checkbox stars */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/star-off-big.png');
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/star-on-big.png');
    background-size: 30px 30px;
    transition: opacity 0.5s linear;
}

.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}

/* //Checkbox stars */
/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}

.pagination,
.pagination__link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}

.pagination__link {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #6163b9
}



.pagination__item {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    margin: 0 2px;
    display: flex;

}

.pagination__item:last-child {
    margin-right: 0
}


.pagination__item.active .pagination__link {
    color: #fff;
    background: #6658af
}


/* --/Pagination */


/*--/banner --*/

.main-banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 50em;
}






