{% extends 'movies/base.html' %}
{% load static %}
{% block title %}
    {{ actor.name }}
{% endblock title %}
{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ actor.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <a>
                    <li>
                        <span><b>Возраст:</b> {{ actor.age }} лет</span></li>
                    <li>
                        <span><b>Режиссер:</b>
                            {% for movie in actor.film_director.all %}
                                 <a href="{{ movie.get_absolute_url }}">
                                <li>{{ movie.title }}</li></a>
                            {% endfor %}
                        </span>
                    </li>
            </ul>
                    <li><span><b>Актер:</b>
                        {% for movie in actor.film_actor.all %}
                             <a href="{{ movie.get_absolute_url }}">
                            <li>{{ movie.title }}</li></a>
                        {% endfor %}
                    </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent">
                О {{ actor.name }}
            </h3>
            <p class="editContent">
                {{ actor.description|safe }}
            </p>
        </div>
    </div>
{% endblock movie %}