{% extends 'movies/base.html' %}
{% block title %} {% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block movie %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for movie in movie_list %}
                <div class="col-lg-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-3">
                        <div class="men-thumb-item">
                            <a href="{{ movie.get_absolute_url }}" class="editContent">
                                <img src="{{ movie.poster.url }}" class="img-fluid" alt=""></a>
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ movie.get_absolute_url }}" class="editContent">
                                    {{ movie.title }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-img-right mt-4 text-right bg bg1">
            {% include 'include/pagination.html' %}
        </div>
    </div>
{% endblock movie %}


